@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto Mono', sans-serif;
    background-color: whitesmoke;
}

h1 {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 40px;
    letter-spacing: 5px;
}

.loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}

.loader img {
    height: 8rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* container */

.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
    margin-top: 8px;
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 20px;
    }

    .image-container {
        margin: 10px;
    }
}
